<!DOCTYPE html>
<html lang="en">
<head>
<title>New Age</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/simple-line-icons.css">
<link rel="stylesheet" type="text/css" href="css/device-mockups.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="//fonts.googleapis.com/css?family=Lato">
<link href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
<link href="//fonts.googleapis.com/css?family=Muli">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i></button>
      <a class="navbar-brand page-scroll" href="#page-top">Premyo</a></div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="#download">Download</a></li>
        <li><a class="page-scroll" href="#features">Features</a></li>
        <li><a class="page-scroll" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>We will help your customers to attain loyalty and relationship in your store! Introducing, PREMYO!</h1>
            <a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now!</a></div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen"><img src="img/demo-screen-2.jpg" class="img-responsive" alt=""></div>
              <div class="button"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="download" class="download bg-primary text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading">Discover what Premyo app is all about!</h2>
        <p>Our app is available on android device! Download now to get started!</p>
        <div class="badges"><a class="badge-link" href="premyo.herokuapp.com/apk/Premyo.apk"><img src="img/download-button.png" alt=""></a>
           <!-- <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a> -->
          </div>
      </div>
    </div>
  </div>
</section>
<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Shop More, Earn More</h2>
          <p class="text-muted">Check out what you can do with this app!</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen"><img src="img/demo-screen-2.jpg" class="img-responsive" alt=""></div>
              <div class="button"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item"><i class="icon-screen-smartphone text-primary"></i>
                <h3>Convenient</h3>
                <p class="text-muted">It's easy for the owner of the store to create offer and reward promotions to their customer wherever they are!</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item"><i class="icon-camera text-primary"></i>
                <h3>No Need To Edit</h3>
                <p class="text-muted">There's no need to edit your offer or promo image to be shown in public!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item"><i class="icon-present text-primary"></i>
                <h3>Shop And Earn</h3>
                <p class="text-muted">For customers, keep visiting and avail offers from the store to obtain rewards!</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item"><i class="icon-lock-open text-primary"></i>
                <h3>Secured</h3>
                <p class="text-muted">We will keep your transactions and credentials secured!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Start Shopping.<br>
        Start Redeeming rewards.</h2>
      <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a></div>
  </div>
  <div class="overlay"></div>
</section> -->
<section id="contact" class="contact bg-primary">
  <div class="container">
    <h2>We <i class="fa fa-heart"></i> new friends!</h2>
    <ul class="list-inline list-social">
      <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li class="social-google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</section>
<footer>
  <div class="container">
    <p>Copyright &copy; All Rights Reserved</p>
    <ul class="list-inline">
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>